<ul>
  <li
    *ngFor="let video of videoList"
    [class.highlighted]="video === selectedVideo"
    (click)="selectVideo(video)"
  >
    <app-video-list-item [itemVideo]="video"></app-video-list-item>
  </li>
</ul>

<!-- <pre>
  {{ selectedVideo | json }}
</pre> -->
