
<ng-container class="something" *ngIf="dashboardVideoList | async as list">
  <app-video-list
    [videoList]="list"
    (chooseVideo)="setSelectedVideo($event)"
  >
  </app-video-list>

</ng-container>

<app-video-player [video]="selectedVideo"></app-video-player>
<app-stat-filters></app-stat-filters>
